<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/style/main.css">
  <link rel="stylesheet" href="/style/article.css">
</head>
<body>
  <%- include('../partials/header') %>
  <%- include('../partials/nav') %>
  <main><%- body %></main>
  <%- include('../partials/footer') %>
</body>
<%- include('../partials/script') %>
</html>
